@import '../../index.css';

.projects-content{
    display:flex;
    flex-direction: column;
    width:100%;
    margin: 100px 0;
    gap: 32px;
}
.projects-header-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-block {
    background: rgba(var(--color-dark-rgb), 0.4);;
    border: none;
    border-radius: 40px;
    padding: 14px 28px;
    display: flex;
    position: relative;
    overflow: hidden;
    justify-content: space-between;
}

.search-block::before{
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 40px;
    padding:3px;
    background: linear-gradient(95deg, var(--color-cyan), var(--color-violet), var(--color-pink));
    mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    mask-composite: exclude;
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    pointer-events: none;    
    z-index: 1;
    /* filter: blur(1px); */
}

.search-panel{
    display:flex;
    gap: 20px;
}

.sort-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(var(--color-dark-rgb), 0.25);
    backdrop-filter: blur(30px);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sort-modal {
    width: 60%;
    background: rgba(var(--color-dark-rgb), 0.4);;
    border: none;
    border-radius: 40px;
    padding: 32px 43px;
    display: flex;
    flex-direction: column;
    gap: 43px;
    position: relative;
    overflow: hidden;
}

.sort-modal::before{
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 40px;
    padding: 3px;
    background: linear-gradient(95deg,var(--color-pink), var(--color-violet),  var(--color-cyan));
    mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    mask-composite: exclude;
    -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    pointer-events: none;    
    z-index: 1;
    /* filter: blur(1px); */
}

.sort-header{

}

.sort-header-text{
        display: flex;
        justify-content: space-between;
        align-items: center;
}


.projects-bg-line {
    position: absolute;
    left: 50%;
    top: 65px;
    transform: translateX(-50%);
    width: 100vw;
    pointer-events: none;
    z-index: 0;
    opacity: 0;
    animation: fadeInBg 1.2s ease-in-out forwards;
}

@keyframes fadeInBg {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.projects-bg-line img {
    width: 100%;
    height: auto;
    max-height:150vh;
    max-width: none;
    display: block;
}