.background-glow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: -1;
  filter: blur(60px);
}

.glow-logo {
  position: absolute;
  top: -340px;
  left: -380px;
  width: 51vw;
  height: auto;
}

.glow-nav {
  position: absolute;
  top: -270px;
  right: 190px;
  width: 38vw;
  height: auto;
}
