.input-label {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 32px;
  color: #bebebe;
  /* color: var(--color-pale);  */
  margin-bottom: 9px;
}

.input-wrapper {
  position: relative;
  width: 100%;
}

.input-control {
  width: 100%;
  border: none;
  padding: 14px 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 32px;
  color: var(--color-bright);

  background: rgba(255, 255, 255, 0.2);
  /* background:  #bebebe;  */
  /* color: #ffff; */
  /* background: rgba(190, 190, 190, 0.4);  */
  outline: none;
  transition: all 0.2s;
  border-radius: 40px;
  box-sizing: border-box;
}

.input-control:focus {
  background: rgba(190, 190, 190, 0.6);
}

.input-control:disabled,
.input-control[readonly] {
  opacity: 0.7;
  cursor: default;
  color: var(--color-pale);
}

.input-error {
  border: 3px solid #ff00ff;
}

.input-error-message {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 26px;
  color: #ff00ff;
  margin-top: 8px;
}

.password-eye {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 32px;
  height: 32px;
}
